body {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	height:100%;
}

header {
	height: 50px;
	padding: 5px;
	margin: 0;
	background-color:#81C99F;
}

section {
	height: 500;
	padding:10px;
	padding-bottom:100px;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	background-color:#81C99F;
	padding: 5px;
	line-height: 1;
	font-size:10px;
}

#main {
	width: 800px;
	margin: auto;
	min-height: 100%;
	position:relative;
	border:1px solid black;
	overflow: hidden;
}

#menu {
	float: right;
	background-color:white;
	height: 15px;
	width: 140px;
	text-align:center;
	padding-top: 5px;
	line-height: 1;
	font-size:10px;
}

#crest {
	float: left;
}

#title {
	margin-left: 200px;
}

#address {
	margin-right: 150px;
	text-align:center;
}

#footerlinks {
	float: left;
	width: 100px;
}

/* error and success messages */
#error {
	color: red;
	text-align: center;
}

#success {
	color: green;
	text-align: center;
}

.container {
	margin: 50px auto;
	width: 640px;
}
 
.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 310px;
}

.login p.submit {
	text-align: right;
}
 
.login-help {
	margin: 20px 0;
	font-size: 11px;
	text-align: center;
	text-shadow: 0 1px #2a85a1;
}
 
.login-help a {
	text-decoration: none;
}
 
.login-help a:hover {
	text-decoration: underline;
}
 
:-moz-placeholder {
	color: #c9c9c9;
	font-size: 13px;
}
 
::-webkit-input-placeholder {
	color: #ccc;
	font-size: 13px;
}

.container {
	margin: 50px auto;
	width: 640px;
}
.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
 
.login h1 {
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}
 
.login p {
	margin: 20px 0 0;
}
 
.login p:first-child {
	margin-top: 0;
}
 
.login input[type=text], .login input[type=password] {
	width: 278px;
}
 
.login p.remember_me {
	float: left;
	line-height: 31px;
}
 
.login p.remember_me label {
	font-size: 12px;
	color: #777;
	cursor: pointer;
}
 
.login p.remember_me input {
	position: relative;
	bottom: 1px;
	margin-right: 4px;
	vertical-align: middle;
}