
.header {
	position: relative;
	width:100%;
	height: 50px;
	background-color: #bbd861;
	z-index: 10;
}

.logo {
	width:220px;
	height: 50px;
}

.logo img {
	position: relative;
	padding-top: 7px;
	height: 60px;
	z-index: 11;
}

.timer {
	position: relative;
	left: 220px;
	top: -50px;
	height: 50px;
	background-color: #9db552;
	width: 230px;
	text-align: center;
}

.timer span{
	position: relative;
	color: white;
	font-size: 18px;
	top: 15px;
}

.profile {
	position: relative;
	right: 0;
	top: -100px;
	float: right;
	height: 50px;
	/*width: 210px;*/
	background-color: #9db552;
	/*overflow: hidden;*/
	cursor: pointer;
}

.pic {
	position: relative;
	float:left;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 4px;
	padding-left: 10px;
}

.pic img {
	width: 40px;
	height: 40px;
	border: 1px solid #eee;
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.55);
}

.name {
	position: relative;
	float: right;
	top: 10px;
	right: 45px;
	color: white;
	padding-left: 55px;
}

.name .title {
	font-weight: bold;
	font-size: 16px;
}

.name .spec {
	font-weight: normal;
	font-size: 12px;
}

.triangle1 {
	position: absolute;
	top:25px;
	right: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #fff transparent transparent transparent;
}

.triangle2 {
	position: absolute;
	top:-10px;
	right: 54px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #fff transparent;
	z-index: 100;
}

.dropdownProfile {
	display:none;
	list-style: none;
	position: absolute;
	top: 50px;
	right: 0;
	width: 120px;
	background-color: white;
	font-size: 13px;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	z-index: 50;
}

.dropdownProfile ul {
	list-style-type: none;
	padding: 0;
}

.dropdownProfile li {
	height: 22px;
	text-align: center;
	padding-top: 7px;
}

.dropdownProfile li:hover {
	background-color: #eee;
}

.dropdownProfile li:hover a {
	color: #717171;
}

.dropdownProfile li a {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #333;
	display: block;
}

.dropdownProfile .set {
	margin-bottom: 7px;
}

.dropdownProfile .logout {
	border-top: 1px solid #ddd;
}

.panal {
	position: absolute;
	background-color: #636363;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	overflow: hidden;
	z-index: 5;
}

.extent {
	position: relative;
	top:45px;
	width: 220px;
	height: 32px;
	background-color: #bbd861;
	z-index: 7;
}

.layer {
	position: relative;
	top: 45px;
	width: 220px;
	height: 47px;
	overflow: hidden;
	z-index: 6;
}

#m1 .mask{
	background-color: #fd6a56;
}

#m2 .mask {
	background-color: #ffc313;
}

#m2a .mask {
	background-color: #ddc313;
}

#m2b .mask {
	background-color: #bbc313;
}

#m2c .mask {
	background-color: #99c313;
}

#m3 .mask {
	background-color: #8cc260;
}

#m4 .mask {
	background-color: #44c0c2;
}

.effect .mask {
	width: 2px;
	height: 46px;
	position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition:width 0.2s; 
	transition:width 0.2s;
}

.active .mask{
	width: 43px !important;
}

.effect:hover .mask {
   width: 43px;
   z-index: -1;
}

.layer .icon {
	width: 43px;
	height: 45px;
	border-bottom: 1px solid #6e6e6e;
	border-right: 1px solid #6e6e6e;
	text-align: center;
	background-color: transparent;
}

.layer .icon img{
	padding-top: 17px;
	z-index: 1;
	opacity: 0.7;
	-webkit-transition:opacity 0.3s; 
	transition:opacity 0.3s;
}

.active .icon img{
	opacity: 1 !important;
}

.effect:hover .icon img{
   opacity: 1;
   z-index: 1;
}

.layer .lable {
	position: relative;
	top: -46px;
	left: 43px;
	width: 177px;
	height: 45px;
	border-bottom: 1px solid #6e6e6e;
	text-align: center;
}

.layer .lable span {
	position: relative;
	color: white;
	top: 15px;
	opacity: 0.7;
	-webkit-transition:opacity 0.3s; 
	transition:opacity 0.3s;
}

.active .lable span {
	opacity: 1 !important;
}

.effect:hover .lable span {
   opacity: 1;
}


/* other css, should probably be in its own file 
	It certainly should, but let's just leave it here first  - Yancie */

#dashboard{
	list-style-type: none;
	padding: 0px;
}

#dashboard li {
	font-size: 150%;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	height: 100px;
	margin: 5px;
	padding: 5px 2px;
}

#dashboard a {
	vertical-align: middle;
	min-height: 100px;
	display: block;
} /* what is this */

#breadcrumb {
	position: absolute;
	left: 220px;
	top: 50px;
	height: 27px;
    min-width: -webkit-calc(100% - 220px);
    min-width: calc(100% - 220px);
	border-bottom: 1px solid #C0C0C0;
	background-color: #fdfdfd;
	font-family: 'Open Sans', sans-serif;
	font-size: 12.5px;
}

#breadcrumb a {
	color: #7171C6;
}

#breadcrumb span {
	position: relative;
	bottom: -4px;
	margin: 0px 8px;
}

#staffInfo img {
	width: 100px;
	height: 100px;
}

#staffInfo div {
	float: left;
	margin: 10px;
}

#staffInfo ul {
	list-style-type: none;
	padding: 0;
}

#staffEdit {
	clear: both;
}