.box {
	margin-bottom: 80px;
}
.submit {
	margin-top: 40px;
}

label {
	display: inline-block;
	width: 30%;
}

.textInput {
	width: 50%;
	margin-bottom: 20px;
}
select {
	width: 168px;
	margin-bottom: 20px;
}
input[type=file] {
	margin-bottom: 20px;
}

/* Other */
.CATable {
	margin-bottom: 20px;
}
.CATable table {
	width: 100%;
	text-align: center;
}
.CATable th, td {
	padding: 5px, 0;
	width: 40%;
}
.CATable .dateColumn {
	width: 10%;
}
.CATable .editdelete {
	width: 10%;
}