

/* search for patients */
.patientSearch .or {
	margin: 15px 0 0 100px;
}

.patientSearch .pIDinput, .patientSearch .phoneInput {
	width: 94%;
}
.patientSearch .firstNameInput {
	width: 80%;
}
.patientSearch .lastNameInput {
	width: 40%;
}



/* Advenced Search */
.advancedSearch {
	margin-top: 20px;
}
.advancedSearch .dropdown-menu {
	width: 218px;
}
.advancedSearch .dropdown-toggle{
	font-size: 14px;
	width: 220px;
}
.advancedSearch .parameters p {
	margin-top: 0;
}
.parameterInput input{
	width: 40%;
}
.advancedSearch select{
	width: 80%;
	height: 35px;
}


/* for boths */
.patientSearch .boxContent, .advancedSearch .boxContent{
	padding-bottom: 70px;
}
.advancedSearch .submit, .patientSearch .submit{
	margin-top: 15px;
}
.patientSearch .firstName, .advancedSearch .parameters {
	float: left;
	margin-right: 10px;
	width: 53%;
}
.patientSearch .lastName, .advancedSearch .parametersInput {
	width: 50%;
}

/* Top 10 patients */
.topTen .boxContent{
	padding: 0;
}
.topTen table {
	width: 100%;
}
.topTen table tr {
	margin: -10px;
}
.topTen table td {
	border-bottom: 1px solid #BDBDBD;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 30px;
	padding: 0;
}
.topTen table td a {
	height: 30px;
	display: block;
	padding: 10px 0 0 20px;
}
.topTen table td a:hover {
	background-color: #F0F0F0;
}
.topTen .last {
border-bottom: none;
}